<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lxxc.dao.user.UserDao">
	<resultMap id="fieldMapper" type="com.lvxc.study.entity.user.User">
		<id property="id" column="ID" /><!---->
		<result property="name" column="NAME" /><!---->
		<result property="password" column="PASSWORD" /><!---->
	</resultMap>

	<sql id="fieldAsProperty">
		ID AS id,
		NAME AS name,
		PASSWORD AS password
	</sql>
	
	<sql id="field">
		ID,
		NAME,
		PASSWORD
	</sql>
	<sql id="property">
		#{id,jdbcType=INTEGER},
		#{name,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR}
	</sql>
	<sql id="fieldEqPropertyIf">
		<if test="id!=null" >ID=#{id,jdbcType=INTEGER},</if>
		<if test="name!=null" >NAME=#{name,jdbcType=VARCHAR},</if>
		<if test="password!=null" >PASSWORD=#{password,jdbcType=VARCHAR}</if>
	</sql>
	<sql id="fieldEqProperty">
		ID=#{id,jdbcType=INTEGER},
		NAME=#{name,jdbcType=VARCHAR},
		PASSWORD=#{password,jdbcType=VARCHAR}
	</sql>
    <sql id="idCnd">
        <where>
            <if test="id!=null" >ID=#{id,jdbcType=INTEGER}</if>
            <if test="id==null">AND 1=0</if>
        </where>
    </sql>
    <sql id="sql_where">
    	<where>
			<if test="params.id!=null" >ID=#{params.id}</if>
	        <if test="params.name!=null" > AND NAME=#{params.name}</if>
	        <if test="params.password!=null" > AND PASSWORD=#{params.password}</if>
    	</where>
    </sql>
	<insert id="insert" parameterType="com.lvxc.study.entity.user.User" keyProperty="id" useGeneratedKeys="true">
		INSERT INTO t_user(<include refid="field" />) VALUES (<include refid="property" />)
	</insert>
	<delete id="deleteByPrimaryKey">
		DELETE FROM t_user<include refid="idCnd" />
	</delete>
	<select id="selectByPrimaryKey" resultType="com.lvxc.study.entity.user.User">
		SELECT<include refid="fieldAsProperty" />FROM t_user<include refid="idCnd" />
	</select>
	<update id="updateByPrimaryKeySelective">
		UPDATE t_user<set><include refid="fieldEqPropertyIf" /></set><include refid="idCnd" />
	</update>
    <update id="updateByPrimaryKey" parameterType="com.lvxc.study.entity.user.User">
		UPDATE t_user<set><include refid="fieldEqProperty" /></set><include refid="idCnd" />
	</update>
</mapper>

